body {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  font-family: sans-serif;
}

nav {
  position:fixed;
  width: 100%;
  line-height: 60px;
  background-color: #87D1F0;
  z-index: 1;
}

nav ul {
  float: right;
  margin: 0;
  padding-right: 42px;
}

nav ul li {
  display: inline-block;
  padding: 16px 32px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display:block;
}

.logo {
  height: 86px;
  float: left;
  margin: 16px 28px;
}


p {
  color: #333;
  text-align: justify;
}

nav.black {
  background:#87D1F0;
}

nav li a:hover {
  text-decoration: underline overline;
}

.catalog{
  padding: 35px;
  width: 80%;
}

input[type=text], select, textarea {
  width: 50%;
  height: 5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 16px;
  resize: vertical
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

footer {
  background-color:#87D1F0;
  display: flex;
  flex-direction: row;
}

.footerSocials, .footerInfo {
  margin:auto;
  padding: 20px;
  width: 100%;
}

.fb2, footer p {
  text-decoration:none;
  color:white;
}

.follow {
  font-weight: bold;
  font-size:18px;
}
