body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
}

#checkbox1 {
  display: none;
}

nav {
  position:fixed;
  width: 100%;
  line-height: 60px;
  background-color: #87D1F0;
}

nav ul {
  float:right;
  margin:0;
  padding-right: 42px;
}

nav ul li {
  display: inline-block;
  padding: 16px 32px;
}

nav ul li a{
  text-decoration: none;
  color: white ;
  font-size: 16px;
  font-weight: bold;
  display:block;
}

.logo {
  height: 86px;
  float:left;
  margin: 16px 28px;
}

h1 {
  font-size:48px;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight: bold;
  text-align: center;
  padding-top:125px;
  background-color: black;
  color:white;
}
h2{
   font-family: 'Brush Script MT', cursive;
    text-align: center;
}

main {
  width: 80%;
  margin: 50px auto;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #333;
  text-align: justify;
}

nav.black {
  background:#87D1F0;
}

nav li a:hover {
  text-decoration: underline overline;
}


* {
   box-sizing: border-box;
}
h1 {
   text-align: center;
}

.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
   justify-content: center;
}

.inner-grid {
   flex: 25%;
   max-width: 25%;
   padding: 0 4px;
}
.inner-grid img {
   margin-top: 8px;
   width: 100%;
   padding: 10px;
}
@media screen and (max-width: 800px) {
   .inner-grid {
      flex: 50%;
      max-width: 50%;
   }
}
@media screen and (max-width: 480px) {
   .inner-grid {
      flex: 100%;
      max-width: 100%;
   }
    p {
      font-size: 14px;
   }  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a
  {
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
  }

  #menuToggle a:hover
  {
    color: tomato;
  }


  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: white;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  } .logo {
    height:80px;
    margin-left:120px;
  }
}

footer {
  background-color:#87D1F0;
  display: flex;
  flex-direction: row;
}

.footerSocials, .footerInfo {
  margin:auto;
  padding: 20px;
  width: 100%;
}