body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  position:fixed;
  width: 100%;
  line-height: 60px;
  background-color: #87D1F0;
}

nav ul {
  float:right;
  margin:0;
  padding-right: 42px;
}

nav ul li {
  display: inline-block;
  padding: 16px 32px;
}

nav ul li a{
  text-decoration: none;
  color: white ;
  font-size: 16px;
  font-weight: bold;
  display:block;
}

.logo {
  height: 86px;
  float:left;
  margin: 16px 28px;
}

h1 {
  font-size:48px;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight: bold;
  text-align: center;
  padding-top:125px;
  background-color: black;
  color:white;
}

main {
  width: 80%;
  margin: 50px auto;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #333;
  text-align: justify;
}

nav.black {
  background:#87D1F0;
}

nav li a:hover {
  text-decoration: underline overline;
}


* {
   box-sizing: border-box;
}
h1 {
   text-align: center;
}
.outer-grid {
   display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
}
.inner-grid {
   flex: 25%;
   max-width: 25%;
   padding: 0 4px;
}
.inner-grid img {
   margin-top: 8px;
   width: 100%;
   padding: 10px;
}
@media screen and (max-width: 800px) {
   .inner-grid {
      flex: 50%;
      max-width: 50%;
   }
}
@media screen and (max-width: 600px) {
   .inner-grid {
      flex: 100%;
      max-width: 100%;
   }
}